#cont{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 2%;
    background-color: #f0f0f0;
    align-items: center;
    border: 2px solid black;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
}

#keyboard{
    margin: 5%;
    border: 2px solid black;
    border-radius: 5px;
}

#inputDiv, #outputDiv{
    border: 2px solid black;
    background-color: #cddeffd2;
    margin: 3%;
    padding: 2%;
    width: 75%;
    border-radius: 2%;
}

#input{
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 2em;
}

#output{
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 2em;
}

#currentMode{
    text-align: center;
}
